In [47]:
import numpy as np
import pandas as pd

In [48]:
data = pd.read_csv("bank_nifty.csv",index_col=1)

In [49]:
type(data)

pandas.core.frame.DataFrame

In [50]:
data.head()

                Date       Open       High        Low      Close  Volume
Time
09:15:00  2012-05-30  9599.9004  9599.9004  9561.7998  9566.0000    21375
09:16:00  2012-05-30  9565.0996  9565.0996  9555.1504  9564.4004    15475
09:17:00  2012-05-30  9564.3496  9570.0000  9563.6504  9567.0000    13850
09:18:00  2012-05-30  9568.0000  9569.0000  9561.6504  9563.2500    11250
09:19:00  2012-05-30  9566.5498  9568.0000  9556.0000  9558.3496    16050

In [51]:
data1 = data.groupby('Date')

In [52]:
data1.first()

                  Open        High         Low       Close  Volume
Date
2012-05-30   9599.9004   9599.9004   9561.7998   9566.0000    21375
2012-05-31   9170.0000   9387.7500   9170.0000   9368.5000    30850
2012-06-01   9388.4502   9405.0000   9380.0000   9404.5498    16775
2012-06-04   9120.0000   9120.0000   9076.0000   9085.2500    30700
2012-06-05   9390.0996   9411.5498   9376.8496   9406.8496    38250
2012-06-06   9470.0000   9508.0000   9450.0996   9502.0000    34275
2012-06-07   9750.0996   9765.8496   9743.5996   9750.0996    44650
2012-06-08   9820.0996   9837.4004   9794.5000   9800.5996    42275
2012-06-11  10050.0000  10058.0996  10000.0000  10050.6504    38475
2012-06-12   9825.0000   9865.0000   9823.2500   9845.0000    45725
2012-06-13  10105.0000  10109.7998  10077.3496  10099.0000    16800
2012-06-14  10052.2500  10052.2500  10032.0996  10038.5996    16950
2012-06-15   9875.0000   9929.0000   9860.0000   9921.3496    33800
2012-06-18  10150.0996  10185.0000  10150.0996  10158.0000    42425
2012-06-19   9715.1504   9719.0000   9661.0000   9718.4004    22600
2012-06-20   9801.2002   9827.7002   9793.8496   9806.7998    22175
2012-06-21   9761.0000   9774.9502   9746.0000   9768.0000    27950
2012-06-22   9929.9004   9946.4004   9902.0000   9943.0000    38025
2012-06-25  10050.0996  10120.0000  10050.0996  10114.0000    30400
2012-06-26   9880.0996   9915.5996   9872.7500   9914.0000    14225
2012-06-27  10025.0000  10089.0000  10025.0000  10072.2500    39250
2012-06-28  10025.0000  10044.3496  10002.0000  10043.0000    13975
2012-06-29  10050.0000  10210.0000  10050.0000  10185.9502   100975
2012-07-02  10351.0000  10374.9502  10335.0996  10346.0000    22125
2012-07-03  10470.0000  10484.0000  10445.0498  10480.2500    22025
2012-07-04  10532.0000  10542.0000  10520.0000  10522.2998    20150
2012-07-05  10530.0000  10530.0000  10413.3496  10486.7998    20225
2012-07-06  10600.0000  10629.9502  10551.0000  10604.0000    13875
2012-07-09  10582.0000  10599.0000  10569.0000  10590.0000    20525
2012-07-10  10585.0000  10604.0000  10580.7998  10595.0000    22475
...                ...         ...         ...         ...      ...
2016-10-27  19450.0000  19460.1504  19399.5508  19425.1504    42480
2016-10-28  19635.0000  19635.0000  19501.0996  19529.8496    40440
2016-11-01  19589.4492  19592.6504  19556.3496  19591.3496    23040
2016-11-02  19299.0000  19325.0000  19248.8008  19265.0508   111320
2016-11-03  19275.0000  19278.8496  19223.8496  19278.8496    47800
2016-11-04  19225.2500  19285.0000  19175.0000  19243.9004    22520
2016-11-07  19400.0000  19400.0000  19286.9492  19287.5000    83480
2016-11-08  19513.3008  19513.3008  19431.0000  19443.1504    48760
2016-11-09  18325.0000  18500.0000  18200.0000  18440.0000   230640
2016-11-10  19860.0000  19925.0000  19820.0000  19859.9492    99880
2016-11-11  20149.6992  20149.6992  20010.0996  20110.0000    88560
2016-11-15  19840.0000  19860.0000  19781.0000  19785.9004    45000
2016-11-16  19550.0000  19649.0000  19530.0000  19530.4492    67000
2016-11-17  19117.3496  19190.3008  19117.3496  19144.0508    52480
2016-11-18  19213.2500  19259.3008  19166.0996  19188.9004    67320
2016-11-21  19085.0000  19096.8496  18985.1504  19034.0996    54360
2016-11-22  18620.1504  18634.9492  18538.0996  18540.3008    69720
2016-11-23  18649.9004  18650.0000  18560.0000  18569.2500    55320
2016-11-24  18460.0000  18466.8008  18383.1504  18400.6504    53080
2016-11-25  18311.0000  18489.9492  18311.0000  18435.4492    34560
2016-11-28  18390.0000  18390.0000  18251.0000  18285.8008   119040
2016-11-29  18359.8008  18398.8008  18325.9492  18386.6504    42440
2016-11-30  18350.4492  18412.6992  18318.4492  18354.0000    50720
2016-12-01  18718.4492  18747.9004  18680.0000  18692.3496    42400
2016-12-02  18378.0000  18380.0000  18306.2500  18331.1504    54840
2016-12-05  18319.9004  18323.6504  18246.0996  18276.6992    48120
2016-12-06  18516.7500  18534.3496  18470.0000  18490.0996    55160
2016-12-07  18560.0000  18560.0000  18515.6992  18539.5996    48480
2016-12-08  18377.0000  18425.8496  18358.2500  18415.5508   103040
2016-12-09  18592.0000  18610.0000  18551.0508  18551.8008    36240

[1099 rows x 5 columns]

In [53]:
data['MA10'] = data.Close.shift(1).rolling(window = 10).mean()
data['MA20'] = data.Close.shift(1).rolling(window = 20).mean()
data = data.iloc[20:]

In [54]:
#Stg1 LE: MA10 crosses above MA20, LX: MA10 crosses below MA20
data['LE'] = data.MA10 > data.MA20
data['LX'] = data.MA10 < data.MA20 
#Stg2 Stg1 + SE: MA10 crosses above MA20, SX: MA10 crosses below MA20
data['SE'] = data.MA10 > data.MA20
data['SX'] = data.MA10 < data.MA20

/home/aryann/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/home/aryann/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/aryann/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/home/aryann/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [55]:
data.head(30)

,Date,Open,High,Low,Close,Volume,MA10,MA20,LE,LX,SE,SX
Time,,,,,,,,,,,,
09:35:00,2012-05-30,9522.0000,9522.0000,9513.5000,9520.1504,15400,9537.04492,9544.64995,False,True,False,True
09:36:00,2012-05-30,9520.1504,9520.1504,9512.0000,9513.5996,13625,9534.70996,9542.35747,False,True,False,True
09:37:00,2012-05-30,9514.9502,9516.0000,9503.0996,9505.2002,23000,9532.06992,9539.81743,False,True,False,True
09:38:00,2012-05-30,9507.0000,9509.0000,9505.0996,9507.7002,7300,9528.60996,9536.72744,False,True,False,True
09:39:00,2012-05-30,9507.9004,9515.0000,9507.9004,9514.9502,6075,9525.57998,9533.94995,False,True,False,True
09:40:00,2012-05-30,9514.9502,9516.2500,9511.3496,9514.0000,6850,9523.17002,9531.77998,False,True,False,True
09:41:00,2012-05-30,9514.0000,9517.7998,9513.0000,9517.7998,5725,9521.01006,9530.47998,False,True,False,True
09:42:00,2012-05-30,9517.0000,9522.2500,9517.0000,9519.7998,6025,9518.79004,9529.12246,False,True,False,True
09:43:00,2012-05-30,9519.7998,9524.9004,9518.0000,9522.0498,5075,9516.97002,9528.10747,False,True,False,True
09:44:00,2012-05-30,9523.0000,9524.0000,9519.0000,9524.0000,3350,9515.77500,9527.33496,False,True,False,True
09:45:00,2012-05-30,9525.0000,9526.5996,9521.3496,9526.5996,5175,9515.92500,9526.48496,False,True,False,True
09:46:00,2012-05-30,9526.5996,9527.4502,9523.1504,9527.4502,5025,9516.56992,9525.63994,False,True,False,True
09:47:00,2012-05-30,9528.0000,9531.0000,9527.4502,9530.5000,4175,9517.95498,9525.01245,False,True,False,True
09:48:00,2012-05-30,9530.5000,9534.0000,9528.4502,9529.0000,4550,9520.48496,9524.54746,False,True,False,True
09:49:00,2012-05-30,9529.0000,9530.0000,9525.3496,9530.0000,2275,9522.61494,9524.09746,False,True,False,True
09:50:00,2012-05-30,9528.0000,9532.9004,9528.0000,9532.0000,2050,9524.11992,9523.64497,True,False,True,False
09:51:00,2012-05-30,9531.9004,9534.5498,9530.5996,9532.2002,3300,9525.91992,9523.46499,True,False,True,False
09:52:00,2012-05-30,9532.7500,9536.0000,9530.0996,9534.0000,5150,9527.35996,9523.07500,True,False,True,False
09:53:00,2012-05-30,9535.0000,9536.7002,9530.0000,9531.7998,1975,9528.77998,9522.87500,True,False,True,False
09:54:00,2012-05-30,9531.7998,9531.7998,9528.0000,9528.2998,2000,9529.75498,9522.76499,True,False,True,False
09:55:00,2012-05-30,9528.2998,9534.7998,9526.9004,9534.0000,4275,9530.18496,9523.05498,True,False,True,False
09:56:00,2012-05-30,9534.0000,9537.0000,9533.0000,9536.8496,2975,9530.92500,9523.74746,True,False,True,False
09:57:00,2012-05-30,9536.8496,9537.1504,9533.5498,9537.0000,1225,9531.86494,9524.90996,True,False,True,False
09:58:00,2012-05-30,9537.0000,9537.6504,9535.0000,9535.9502,3325,9532.51494,9526.49995,True,False,True,False
09:59:00,2012-05-30,9535.9502,9536.7002,9533.0000,9536.4502,3200,9533.20996,9527.91245,True,False,True,False
10:00:00,2012-05-30,9536.4502,9545.3496,9536.4502,9544.0000,10975,9533.85498,9528.98745,True,False,True,False
10:01:00,2012-05-30,9544.0000,9545.0000,9540.0000,9540.5000,4575,9535.05498,9530.48745,True,False,True,False
10:02:00,2012-05-30,9540.5000,9541.7500,9538.7002,9540.2500,4425,9535.88496,9531.62246,True,False,True,False
10:03:00,2012-05-30,9540.2500,9541.5000,9535.5996,9539.0000,3400,9536.50996,9532.64497,True,False,True,False
10:04:00,2012-05-30,9539.0000,9542.0000,9535.5498,9536.2998,1700,9537.22998,9533.49248,True,False,True,False

In [56]:
data1 = pd.read_csv("bank_nifty.csv",index_col=0,parse_dates=[['Date', 'Time']])
data1.head()

                          Open       High        Low      Close  Volume
Date_Time
2012-05-30 09:15:00  9599.9004  9599.9004  9561.7998  9566.0000    21375
2012-05-30 09:16:00  9565.0996  9565.0996  9555.1504  9564.4004    15475
2012-05-30 09:17:00  9564.3496  9570.0000  9563.6504  9567.0000    13850
2012-05-30 09:18:00  9568.0000  9569.0000  9561.6504  9563.2500    11250
2012-05-30 09:19:00  9566.5498  9568.0000  9556.0000  9558.3496    16050

In [58]:
# changing into 5 minute time frame
def data5_min(data1):
    data_5min = pd.DataFrame(data1['Open'].resample('5Min').ohlc().open)
    data_5min['high'] = data1['High'].resample('5Min').ohlc().high
    data_5min['low'] = data1['Low'].resample('5Min').ohlc().low
    data_5min['close'] = data1['Close'].resample('5Min').ohlc().close
    
    return data_5min

In [68]:
data_5min = data5_min(data1)
data_5min.head(80)

                          open       high        low      close
Date_Time
2012-05-30 09:15:00  9599.9004  9599.9004  9555.1504  9558.3496
2012-05-30 09:20:00  9555.0000  9558.3496  9531.0000  9541.0000
2012-05-30 09:25:00  9542.0000  9545.0000  9532.3496  9539.0498
2012-05-30 09:30:00  9540.0000  9542.0000  9522.4004  9522.5000
2012-05-30 09:35:00  9522.0000  9522.0000  9503.0996  9514.9502
2012-05-30 09:40:00  9514.9502  9524.9004  9511.3496  9524.0000
2012-05-30 09:45:00  9525.0000  9534.0000  9521.3496  9530.0000
2012-05-30 09:50:00  9528.0000  9536.7002  9528.0000  9528.2998
2012-05-30 09:55:00  9528.2998  9537.6504  9526.9004  9536.4502
2012-05-30 10:00:00  9536.4502  9545.3496  9535.5498  9536.2998
2012-05-30 10:05:00  9536.2998  9555.0000  9533.5498  9552.0498
2012-05-30 10:10:00  9554.0498  9555.0000  9540.0996  9541.5000
2012-05-30 10:15:00  9541.5000  9543.4502  9535.0000  9539.9502
2012-05-30 10:20:00  9539.9502  9547.0000  9539.9502  9543.0000
2012-05-30 10:25:00  9542.1504  9543.0000  9525.2500  9527.0000
2012-05-30 10:30:00  9527.5000  9539.0000  9525.2002  9528.0000
2012-05-30 10:35:00  9528.0000  9529.0996  9521.0000  9528.7500
2012-05-30 10:40:00  9528.0000  9530.0498  9511.5996  9512.0996
2012-05-30 10:45:00  9512.2002  9515.7998  9505.0996  9505.0996
2012-05-30 10:50:00  9505.0996  9508.2002  9490.0498  9503.3496
2012-05-30 10:55:00  9503.3496  9522.0000  9502.0000  9521.0000
2012-05-30 11:00:00  9521.0000  9534.7998  9520.7002  9531.0000
2012-05-30 11:05:00  9530.1504  9533.0000  9524.9502  9527.5996
2012-05-30 11:10:00  9530.0000  9530.0996  9521.0000  9521.4004
2012-05-30 11:15:00  9520.7002  9538.0000  9520.7002  9531.2002
2012-05-30 11:20:00  9531.2002  9544.5498  9531.2002  9542.0996
2012-05-30 11:25:00  9542.0996  9545.4004  9540.7002  9542.4004
2012-05-30 11:30:00  9542.4004  9547.5000  9531.0000  9531.2002
2012-05-30 11:35:00  9531.2002  9534.2002  9517.3496  9530.2500
2012-05-30 11:40:00  9530.2500  9540.1504  9528.0000  9540.0000
...                        ...        ...        ...        ...
2012-05-30 13:25:00  9490.0000  9502.0000  9490.0000  9500.0000
2012-05-30 13:30:00  9500.2998  9510.0000  9495.4004  9495.4004
2012-05-30 13:35:00  9495.4004  9515.0996  9495.1504  9514.0000
2012-05-30 13:40:00  9514.0000  9518.0000  9502.7998  9518.0000
2012-05-30 13:45:00  9518.0000  9535.3496  9516.0000  9535.3496
2012-05-30 13:50:00  9535.3496  9535.3496  9509.2500  9522.0996
2012-05-30 13:55:00  9522.0996  9529.2002  9514.5996  9516.0000
2012-05-30 14:00:00  9516.0000  9516.0000  9508.0498  9510.4004
2012-05-30 14:05:00  9510.4004  9522.5000  9509.4004  9519.0000
2012-05-30 14:10:00  9519.5996  9526.3496  9507.0000  9509.1504
2012-05-30 14:15:00  9509.0996  9511.0498  9493.2998  9497.4004
2012-05-30 14:20:00  9497.4004  9536.0000  9497.4004  9536.0000
2012-05-30 14:25:00  9535.0000  9558.6504  9523.3496  9524.0000
2012-05-30 14:30:00  9524.0498  9530.2002  9517.0000  9529.2002
2012-05-30 14:35:00  9529.2002  9534.6504  9520.0000  9520.6504
2012-05-30 14:40:00  9520.6504  9522.5498  9510.0000  9510.0000
2012-05-30 14:45:00  9506.0000  9508.0498  9479.0000  9491.0000
2012-05-30 14:50:00  9491.0000  9492.0000  9438.0000  9458.4004
2012-05-30 14:55:00  9457.5996  9487.9502  9456.2998  9486.0000
2012-05-30 15:00:00  9486.0000  9493.4004  9470.7002  9483.9502
2012-05-30 15:05:00  9479.2500  9479.2500  9453.5996  9456.0996
2012-05-30 15:10:00  9456.0000  9485.0996  9450.2002  9484.1504
2012-05-30 15:15:00  9485.0000  9486.5498  9465.0000  9465.0000
2012-05-30 15:20:00  9465.0000  9474.5000  9460.0000  9468.8496
2012-05-30 15:25:00  9470.2998  9479.7998  9465.0000  9473.9004
2012-05-30 15:30:00        NaN        NaN        NaN        NaN
2012-05-30 15:35:00        NaN        NaN        NaN        NaN
2012-05-30 15:40:00        NaN        NaN        NaN        NaN
2012-05-30 15:45:00        NaN        NaN        NaN        NaN
2012-05-30 15:50:00        NaN        NaN        NaN        NaN

[80 rows x 4 columns]

In [69]:
data5 = data_5min.dropna(axis = 0, how ='any')

In [70]:
data5.head(80)

                          open       high        low      close
Date_Time
2012-05-30 09:15:00  9599.9004  9599.9004  9555.1504  9558.3496
2012-05-30 09:20:00  9555.0000  9558.3496  9531.0000  9541.0000
2012-05-30 09:25:00  9542.0000  9545.0000  9532.3496  9539.0498
2012-05-30 09:30:00  9540.0000  9542.0000  9522.4004  9522.5000
2012-05-30 09:35:00  9522.0000  9522.0000  9503.0996  9514.9502
2012-05-30 09:40:00  9514.9502  9524.9004  9511.3496  9524.0000
2012-05-30 09:45:00  9525.0000  9534.0000  9521.3496  9530.0000
2012-05-30 09:50:00  9528.0000  9536.7002  9528.0000  9528.2998
2012-05-30 09:55:00  9528.2998  9537.6504  9526.9004  9536.4502
2012-05-30 10:00:00  9536.4502  9545.3496  9535.5498  9536.2998
2012-05-30 10:05:00  9536.2998  9555.0000  9533.5498  9552.0498
2012-05-30 10:10:00  9554.0498  9555.0000  9540.0996  9541.5000
2012-05-30 10:15:00  9541.5000  9543.4502  9535.0000  9539.9502
2012-05-30 10:20:00  9539.9502  9547.0000  9539.9502  9543.0000
2012-05-30 10:25:00  9542.1504  9543.0000  9525.2500  9527.0000
2012-05-30 10:30:00  9527.5000  9539.0000  9525.2002  9528.0000
2012-05-30 10:35:00  9528.0000  9529.0996  9521.0000  9528.7500
2012-05-30 10:40:00  9528.0000  9530.0498  9511.5996  9512.0996
2012-05-30 10:45:00  9512.2002  9515.7998  9505.0996  9505.0996
2012-05-30 10:50:00  9505.0996  9508.2002  9490.0498  9503.3496
2012-05-30 10:55:00  9503.3496  9522.0000  9502.0000  9521.0000
2012-05-30 11:00:00  9521.0000  9534.7998  9520.7002  9531.0000
2012-05-30 11:05:00  9530.1504  9533.0000  9524.9502  9527.5996
2012-05-30 11:10:00  9530.0000  9530.0996  9521.0000  9521.4004
2012-05-30 11:15:00  9520.7002  9538.0000  9520.7002  9531.2002
2012-05-30 11:20:00  9531.2002  9544.5498  9531.2002  9542.0996
2012-05-30 11:25:00  9542.0996  9545.4004  9540.7002  9542.4004
2012-05-30 11:30:00  9542.4004  9547.5000  9531.0000  9531.2002
2012-05-30 11:35:00  9531.2002  9534.2002  9517.3496  9530.2500
2012-05-30 11:40:00  9530.2500  9540.1504  9528.0000  9540.0000
...                        ...        ...        ...        ...
2012-05-30 13:25:00  9490.0000  9502.0000  9490.0000  9500.0000
2012-05-30 13:30:00  9500.2998  9510.0000  9495.4004  9495.4004
2012-05-30 13:35:00  9495.4004  9515.0996  9495.1504  9514.0000
2012-05-30 13:40:00  9514.0000  9518.0000  9502.7998  9518.0000
2012-05-30 13:45:00  9518.0000  9535.3496  9516.0000  9535.3496
2012-05-30 13:50:00  9535.3496  9535.3496  9509.2500  9522.0996
2012-05-30 13:55:00  9522.0996  9529.2002  9514.5996  9516.0000
2012-05-30 14:00:00  9516.0000  9516.0000  9508.0498  9510.4004
2012-05-30 14:05:00  9510.4004  9522.5000  9509.4004  9519.0000
2012-05-30 14:10:00  9519.5996  9526.3496  9507.0000  9509.1504
2012-05-30 14:15:00  9509.0996  9511.0498  9493.2998  9497.4004
2012-05-30 14:20:00  9497.4004  9536.0000  9497.4004  9536.0000
2012-05-30 14:25:00  9535.0000  9558.6504  9523.3496  9524.0000
2012-05-30 14:30:00  9524.0498  9530.2002  9517.0000  9529.2002
2012-05-30 14:35:00  9529.2002  9534.6504  9520.0000  9520.6504
2012-05-30 14:40:00  9520.6504  9522.5498  9510.0000  9510.0000
2012-05-30 14:45:00  9506.0000  9508.0498  9479.0000  9491.0000
2012-05-30 14:50:00  9491.0000  9492.0000  9438.0000  9458.4004
2012-05-30 14:55:00  9457.5996  9487.9502  9456.2998  9486.0000
2012-05-30 15:00:00  9486.0000  9493.4004  9470.7002  9483.9502
2012-05-30 15:05:00  9479.2500  9479.2500  9453.5996  9456.0996
2012-05-30 15:10:00  9456.0000  9485.0996  9450.2002  9484.1504
2012-05-30 15:15:00  9485.0000  9486.5498  9465.0000  9465.0000
2012-05-30 15:20:00  9465.0000  9474.5000  9460.0000  9468.8496
2012-05-30 15:25:00  9470.2998  9479.7998  9465.0000  9473.9004
2012-05-31 09:15:00  9170.0000  9416.3496  9170.0000  9399.6504
2012-05-31 09:20:00  9399.5996  9399.5996  9378.0000  9385.0000
2012-05-31 09:25:00  9385.0000  9410.9004  9380.0000  9404.0000
2012-05-31 09:30:00  9404.0000  9405.0000  9390.0000  9394.2002
2012-05-31 09:35:00  9394.2002  9396.9004  9387.0996  9394.0000

[80 rows x 4 columns]

In [78]:
data5.to_csv("data5.csv")

In [72]:
# changing into 15 minute time frame
def data15_min(data1):
    data_15min = pd.DataFrame(data1['Open'].resample('15Min').ohlc().open)
    data_15min['high'] = data1['High'].resample('15Min').ohlc().high
    data_15min['low'] = data1['Low'].resample('15Min').ohlc().low
    data_15min['close'] = data1['Close'].resample('15Min').ohlc().close
    return data_15min

In [79]:
data15 = data15_min(data1)
data15 = data15.dropna(axis=0,how='any')
data15.to_csv("data15.csv")

In [77]:
data15.head(30)

                          open       high        low      close
Date_Time
2012-05-30 09:15:00  9599.9004  9599.9004  9531.0000  9539.0498
2012-05-30 09:30:00  9540.0000  9542.0000  9503.0996  9524.0000
2012-05-30 09:45:00  9525.0000  9537.6504  9521.3496  9536.4502
2012-05-30 10:00:00  9536.4502  9555.0000  9533.5498  9541.5000
2012-05-30 10:15:00  9541.5000  9547.0000  9525.2500  9527.0000
2012-05-30 10:30:00  9527.5000  9539.0000  9511.5996  9512.0996
2012-05-30 10:45:00  9512.2002  9522.0000  9490.0498  9521.0000
2012-05-30 11:00:00  9521.0000  9534.7998  9520.7002  9521.4004
2012-05-30 11:15:00  9520.7002  9545.4004  9520.7002  9542.4004
2012-05-30 11:30:00  9542.4004  9547.5000  9517.3496  9540.0000
2012-05-30 11:45:00  9540.0000  9541.2998  9524.0000  9530.9502
2012-05-30 12:00:00  9530.9502  9536.7500  9522.5498  9535.9502
2012-05-30 12:15:00  9536.0000  9537.7998  9507.0000  9510.5498
2012-05-30 12:30:00  9510.5498  9515.0000  9493.2998  9500.0000
2012-05-30 12:45:00  9499.0000  9518.5000  9480.0000  9506.2002
2012-05-30 13:00:00  9506.0498  9513.5000  9471.2998  9476.5000
2012-05-30 13:15:00  9476.5000  9502.0000  9468.0996  9500.0000
2012-05-30 13:30:00  9500.2998  9518.0000  9495.1504  9518.0000
2012-05-30 13:45:00  9518.0000  9535.3496  9509.2500  9516.0000
2012-05-30 14:00:00  9516.0000  9526.3496  9507.0000  9509.1504
2012-05-30 14:15:00  9509.0996  9558.6504  9493.2998  9524.0000
2012-05-30 14:30:00  9524.0498  9534.6504  9510.0000  9510.0000
2012-05-30 14:45:00  9506.0000  9508.0498  9438.0000  9486.0000
2012-05-30 15:00:00  9486.0000  9493.4004  9450.2002  9484.1504
2012-05-30 15:15:00  9485.0000  9486.5498  9460.0000  9473.9004
2012-05-31 09:15:00  9170.0000  9416.3496  9170.0000  9404.0000
2012-05-31 09:30:00  9404.0000  9405.0000  9387.0996  9400.0000
2012-05-31 09:45:00  9398.4502  9411.0000  9397.5000  9410.0000
2012-05-31 10:00:00  9410.0000  9425.3496  9405.2998  9408.2002
2012-05-31 10:15:00  9409.9502  9421.5000  9400.0000  9404.7998

In [ ]:
#strategy 3  : strategy 1 and 2 on 5 minute dataframe
data_5min = data5_min(data1)
data_5min['MA10'] = data_5min.close.shift(1).rolling(window = 10).mean()
data_5min['MA20'] = data_5min.close.shift(1).rolling(window = 20).mean()
data_5min = data_5min[20:]
data_5min['LE'] = data_5min.MA10 > data_5min.MA20
data_5min['LX'] = data_5min.MA10 < data_5min.MA20
data_5min['SE'] = data_5min.MA10 > data_5min.MA20
data_5min['SX'] = data_5min.MA10 < data_5min.MA20
data_5min.head(20)

In [ ]:
#strategy 3  : strategy 1 and 2 on 15 minute dataframe
data_15min = data15_min(data1)
data_15min['MA10'] = data_15min.close.shift(1).rolling(window = 10).mean()
data_15min['MA20'] = data_15min.close.shift(1).rolling(window = 20).mean()
#data_15min = data_15min[20:]
data_15min['LE'] = data_15min.MA10 > data_15min.MA20
data_15min['LX'] = data_15min.MA10 < data_15min.MA20
data_15min['SE'] = data_15min.MA10 > data_15min.MA20
data_15min['SX'] = data_15min.MA10 < data_15min.MA20
data_15min.head(25)

In [ ]:
data